body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background: #4CAF50;
    color: white;
    padding: 2em 0;
    text-align: center;
    position: relative;
}

header .container {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    padding: 0 1em;
}

header .logo {
    width: 120px; /* Ajuste conforme o tamanho da sua logo */
    height: auto;
    margin-bottom: 1em;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

#toggle-dark-mode {
    position: absolute;
    top: 1em;
    right: 1em;
    background: transparent;
    color: white;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    transition: color 0.3s;
}

#toggle-dark-mode:hover {
    color: #ccc;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em 0;
}

h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 0.5em;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #f4f4f4;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 5px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: auto; 
    width: 100%;
}

footer p {
    margin: 0;
}

#contact a {
    color: #4CAF50;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode header {
    background: #333;
}

body.dark-mode ul li {
    background: #333;
    color: #e0e0e0;
}

body.dark-mode footer {
    background: #222;
}

body.dark-mode #toggle-dark-mode {
    color: #e0e0e0;
}

body.dark-mode #toggle-dark-mode:hover {
    color: #fff;
}


@media only screen and (max-width: 768px) {
    .container {
        padding: 1em;
        
    }

    header {
        padding: 0.5em 0;
        
    }

    header h1 {
        font-size: 2em;
    }

    header p {
        font-size: 1em;
    }

    #toggle-dark-mode {
        font-size: 1.2em;
    }

}

/* Ajuste do tamanho do ícone */
.fab.fa-whatsapp {
    font-size: 1.2em; /* Tamanho do ícone */
    color: #25D366; /* Cor do ícone */
}

/* Estilo ao passar o mouse */
.fab.fa-whatsapp:hover {
    opacity: 0.8; /* Opacidade ao passar o mouse */
}


/* Estilos específicos para telas muito pequenas */
@media only screen and (max-width: 480px) {
    header h1 {
        font-size: 1.5em;
    }

    header p {
        font-size: 0.9em;
    }
}